<p id="notice"><%= notice %></p>

<p>
  <strong>CRN:</strong>
  <%= @section.crn %>
</p>

<p>
  <strong>Department w/ Course and Section Numbers:</strong>
  <%= @section.course.department %>
  <%= @section.course.number %>
  <%= @section.number %>
</p>

<p>
  <strong>Course Name:</strong>
  <%= @section.course.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>

<p>
  <strong>Semester and Year:</strong>
  <%= @section.course.semester %>
  <%= @section.course.year %>
</p>

<p>
  <strong>Room:</strong>
  <%= @section.room %>
</p>

<p>
  <strong>Days:</strong>
  <%= @section.day %>
</p>

<p>
  <strong>Begin Time:</strong>
  <%= @section.begintime %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @section.endtime %>
</p>

<div class="show-list">
  <strong>Enrolled Students:</strong>
  <% @section.enrollments.each do |enrollment| %>
    <li><%= enrollment.student.name %></li>
  <% end %>
</div>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>

<br>
<br>

<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
