<!DOCTYPE html>
<html>
  <head>
    <title>Greendale Community College</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="college">
        <br>
        <h1>GREENDALE COMMUNITY COLLEGE</h1>
        <p class="motto">Home of the Human Beings!</p>
      </div>

      <div class="navbar">
        <table>
          <thead>
            <tr>
              <th><%= link_to 'Professors', professors_path %></th>
              <th><%= link_to 'Sections', sections_path %></th>
              <th><%= link_to 'Courses', courses_path %></th>
              <th><%= link_to 'Students', students_path %></th>
              <th><%= link_to 'Enrollments', enrollments_path %></th>
              <th><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></th>
            </tr>
          </thead>
        </table>   
      </div> 
    </div>

    <%= yield %>
  </body>
</html>
